@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
*, * * { font-family: Rubik; }

.cursor-pointer          { cursor:    pointer; }

.systemMainContent {
    background-image: url(https://wallpaperaccess.com/full/1433249.jpg);
}

.header {
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
    padding: 0.8% 0.8% 0.8% 2%;
}

.main-logo {
    height: 40px;
}

.mainButton {
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
    background-color: white;
    cursor: pointer;
    border-bottom: 1px solid grey;
}

.mainButton:hover {
    background-color: whitesmoke;
}

.mainItem {
    text-decoration: none !important;
    color: darkblue;
}

.tree {
    padding: 1%;
    height: 500px;
}

.treeItem {
    text-decoration: none !important;
    border-right: 1px solid #282c34;
    border-left: 1px solid #282c34;
    border-bottom: 1px solid #282c34;
    padding: 10px;
    list-style: none;
    background-color: whitesmoke;
}

.Header {
    margin-left: 0px;
}

.content {
    margin: 20px;
}

.link-no-decoration {
    text-decoration: none;
}

.hide-tree {
    display: none;
}


.show-tree {
    display: inline;
}
